body{
    background-color: #f2d0e0;
}
img{
    height: 20px;
   
    
    
}

header{
   border: 10px solid mediumvioletred;
   background-color: mediumvioletred;
   display:flex;
   justify-content: space-between;
  
   
}

main{

}

footer{
    border: 10px solid mediumvioletred;
    background-color: mediumvioletred;
    display: flex;
    justify-content: center;
   
}

